
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
    <title></title>
</head>
<body>
        <h1 class="title has-text-primary p-b-md is-landing-brand animated pulse">Airify</h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h2>Vote for your preferred taste of music</h2>
        <input class="top_vote" type="hidden" name="" value="{{ top_genre.genre_id }}">
        <br>
        <div class="columns">
            {% for genre in genres %}
          <div class="column is-2">
            <form action="{% url 'home'  %}"  method="post">
                {% csrf_token %}
                <button>
                <input type="hidden" name="votes" value="{{genre.pk}}">
                <div class="container" style="width: 75%">
                    <div class="box">
                      <article class="media">
                        <div class="media-left" class="votes">
                          <figure class="image is-64x64">
                            <img src={{genre.genre_icon}} alt="Image">
                          </figure>
                          <p>
                            <strong>Genre:</strong> <small class="genre_names">{{genre.genre_id}}</small> 
                          </p>
                          <p>
                            <strong>Votes:</strong> <small class="genre_votes">{{genre.votes}}</small> 
                          </p>

                        </div>
                      </article>
                    </div>
                </div>
            </button>
            </form>
          </div>
          {% endfor %}
      </div>
      <progress value="0" max="10" id="progressBar"></progress>
      <div class="appear"></div>         
      <script src="https://sdk.scdn.co/spotify-player.js"></script>
      <!-- We will insert our code here. -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
</body>
<script type="text/javascript">
    function renderPlayer() {
      
      var top_vote = $('input.top_vote');
      console.log(top_vote)
      var random = Math.floor(Math.random() * 10) + 1;
  
      var auth_key= 'BQC99J0lBFyQkN-l7uORkCbNYgybUnk_rcHduUHckRNhT0kNAlEdvUnczTO90SMnNhT6YWZtMbZAjgJ9F4zRW31CZZqU5vp8BKguq0bvqckQFk181AKLf_TDB8i_ZOilLMUZwh86bgkgWieTWCYbqstMx6XFjkFV-fY-k7SqVQ0m';

      $.ajax({
        url: "https://api.spotify.com/v1/recommendations/available-genre-seeds",
        headers: {"Accept": "application/json", "Content-Type": "application/json", "Authorization": "Bearer "+ auth_key}
      }).then(function(data) {
        number_of_genres = data.genres.length;
        random_genre_seed = Math.floor(Math.random() * number_of_genres) + 1;
        console.log(data);
        console.log(random_genre_seed);
        console.log(data.genres.length);
        $.ajax({
          url: "https://api.spotify.com/v1/recommendations?limit=10&market=US&seed_artists=4NHQUGzhtTLFvgF5SZesLK&seed_genres=" + top_vote + "&seed_tracks=0c6xIDDpzE81m2q797ordA&min_energy=0.4&min_popularity=50",
          headers: {"Accept": "application/json", "Content-Type": "application/json", "Authorization": "Bearer "+ auth_key}
        }).then(function(data) {
            console.log(data);
            href = data.tracks[random].href
            console.log(href);
            token = href.split('/')[href.split('/').length - 1]
            $('.appear').append('<iframe src=https://open.spotify.com/embed?uri=spotify:track:' + token +'" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>');
         }).catch(function(err) {
            console.log(err);
         })
      }).catch(function(err) {
        console.log(err);
      });


      console.log("Hello")
    }

    var timeleft = 1;
      var downloadTimer = setInterval(function(){
        document.getElementById("progressBar").value = 10 - --timeleft;
          if(timeleft <= 0) {
            clearInterval(downloadTimer);
          console.log("Done");
          // disable polls and play music here
          renderPlayer();
        }
      }, 1000);
    window.onSpotifyWebPlaybackSDKReady = () => {const token = auth_key;
  const player = new Spotify.Player({
    name: 'Web Playback SDK Quick Start Player',
    getOAuthToken: cb => { cb(token); }
  });

  // Error handling
  player.addListener('initialization_error', ({ message }) => { console.error(message); });
  player.addListener('authentication_error', ({ message }) => { console.error(message); });
  player.addListener('account_error', ({ message }) => { console.error(message); });
  player.addListener('playback_error', ({ message }) => { console.error(message); });

  // Playback status updates
  player.addListener('player_state_changed', state => { console.log(state); });

  // Ready
  player.addListener('ready', ({ device_id }) => {
    console.log('Ready with Device ID', device_id);
  });

  // Not Ready
  player.addListener('not_ready', ({ device_id }) => {
    console.log('Device ID has gone offline', device_id);
  });

  // Connect to the player!
  player.connect();
};

</script>>
</html>